@mixin nav-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  app-navbar {
    color: md-color($primary, default-contrast);

    .site-navbar {
      background: #000;
    }
  }
}
