<nav class="site-navbar"
     fxLayout="column"
     fxLayoutAlign="space-around start"
     style="height: 100%;width: auto;" >
  <div>
    <img class="circular-portrait" src="../../../assets/img/sidenav/profile_pic.jpg">
  </div>
  <a md-button routerLink="/" aria-label="Home">
    <img class="site-angular-logo"
         src="../../../assets/img/sidenav/white-transparent.svg"
         alt="Angular">
    <span>Material</span>
  </a>
  <a md-button routerLink="about">About</a>
  <a md-button routerLink="guides">Guides</a>
</nav>
