.flex-container {
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: content-box !important;
}

div {
  box-sizing: border-box;
}

section {
  padding: 1em;
  margin: 1% 0;
}

app-toolbar {
  position: relative;
  z-index: 10;
}

.fxClass-all {
  font-style: italic;
}

.fxClass-xs {
  font-size: 10px;
  color: blue !important;
}

.fxClass-sm {
  font-size: 20px;
  color: lightblue !important;
}

.fxClass-md {
  font-size: 30px;
  color: orange !important;
}

.fxClass-md2 {
  font-weight: bold;
}

.fxClass-lg {
  font-size: 40px;
  color: lightgreen !important;
}

.fxClass-lg2 {
  text-shadow: #5c5c5c;
}
