@import '~@angular/material/core/theming/theming';
@import 'app/shared/navbar/navbar-theme';
@import './app/shared/footer/footer-theme';
// Styles for the docs app that are based on the current theme.
@mixin material-site-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .site-app-background {
    background: md-color($background, background);
  }

  .site-primary-header {
    background: md-color($primary);

    h1 {
      color: md-color($primary, default-contrast);
    }
  }

  .site-footer {
    background: md-color($primary);
    color: md-color($primary, default-contrast);
  }

  @include nav-bar-theme($theme);
  @include footer-theme($theme);
}
