.home_background {
  background-color: #3f51b5;
  min-width: 100%;
  min-height: 100%;
}

.home_title {
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  max-width: 40%;
  height: auto;
  padding: 2em;
}
